body {
  font-family: 'Protest Riot', sans-serif;;
  margin: 0;
  padding: 0;
  background-color: white;
  background-image: url(https://w.forfun.com/fetch/79/79a55288d8dd775a36f951e5a46830d3.jpeg);
  background-repeat: no-repeat;
  background-size:cover;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

header {
  background-color: #ff8820;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0px;
  background-color: #ff8820;
}

li a {
  background: rgba(0, 0, 0, 0.5);
  margin: 10px;
  color: white;
  font-size: 1rem;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 10px 20px;
  display: block;
}

.nav-list {
  display: flex;
  gap: 1em;
}

.nav-list li a:hover {
  border: none;
  background: rgba(0, 0, 0, 0.4);
  background: #fff;
  padding: 10px 20px;
  color: #1b1b1b;
}

.nav-list li a:active {
  color: #008efa;
  opacity: 0.5;
}

.current {
  color: #008efa;
}

.content {
  max-width: 800px;
  margin: 20px auto;
  padding: 0px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content-card {
  padding: 10px;
  margin: 10px auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1em;
}


@media (min-width: 40em) {
  nav ul{
    display: flex;
    flex-direction: row;
  }
}

.error-page {
  position: absolute;
  top: 10%;
  left: 17%;
  right: 17%;
  bottom: 20%;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

section {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #000000;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.hero-content-about {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 400px;
}

.error-code {
  font-size: 120px;
  font-weight: bold;
  color: #e74c3c;
}

.error-message {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.back-to-home {
  text-decoration: none;
  color: #3498db;
  font-weight: bold;
  font-size: 18px;
}

.back-to-home:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 1em;
  background-color: #ff8820;
  color: #fff;
  left: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
}

